@charset "utf-8";

@import 'mixin';
@import 'animation';

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #706677;
  background-image: linear-gradient(
    89.9deg,
    rgba(208, 246, 255, 1) 0.1%,
    rgba(255, 237, 237, 1) 47.9%,
    rgba(255, 255, 231, 1) 100.2%
  );
}

%pseudo-parent {
  display: flex;
  align-items: center;
  position: relative;
}

%pseudo-icon {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.2em;
  background: transparent no-repeat center / contain;
}

.ku-intro01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;

  @include resp-pc(1024px) {
    align-items: flex-start;
  }

  @include resp-pc(768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include resp-pc(480px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1400px;
  }

  .ku-logo {
    img {
      width: 160px;
      margin-left: 10px;
    }
  }

  .flexbox_outer {
    $gap60px: 60px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gap60px;

    .left {
      width: 30%;

      @include resp-pc(1200px) {
        width: 40%;
      }

      @include resp-pc(768px) {
        order: 2;
        width: 100%;
      }

      .splide.splide-banner {
        $bdr-rad: 20px;

        .splide__track {
          border-radius: $bdr-rad;
          box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.3);
        }
        .splide__slide {
          padding: 20px;
          color: #fff;
          background: url(../images/slide-img_01.jpg) no-repeat center / cover;

          dl {
            $mb20px: 20px;

            padding: 10px;
            margin-bottom: $mb20px;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.089);
            backdrop-filter: blur(30px);
            background-color: rgba(65, 65, 65, 0.308);

            &:last-of-type {
              margin-bottom: calc($mb20px / 2);
            }

            dt {
              @extend %pseudo-parent;
              margin-bottom: 10px;

              &::before {
                @extend %pseudo-icon;
                background-image: url(../images/trophy.png);
              }

              span {
                color: gold;

                &.ttl {
                  font-size: 18px;
                  font-weight: bold;
                }
              }
            }

            dd {
              letter-spacing: -0.1em;
              line-height: 1.4;
            }
          }
        }

        .splide__pagination__page {
          background-color: #fff;

          &.is-active {
            border: 1px solid #000000;
            background-color: #fff;
          }
        }
      }
    }

    .right {
      width: calc(70% - $gap60px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include resp-pc(1200px) {
        width: calc(60% - $gap60px);
      }

      @include resp-pc(768px) {
        order: 1;
        width: 100%;
      }

      .p-body {
        flex: 1 0 auto;
        background: url(../images/bg-img.png) no-repeat right 145% / 42.5%;

        @include resp-pc(1300px) {
          background-size: 50%;
        }

        @include resp-pc(1180px) {
          background-size: 65%;
          background-position-y: 110%;
        }

        @include resp-pc(1170px) {
          background-size: 55%;
          background-position-y: 100%;
        }

        @include resp-pc(1110px) {
          background-size: 50%;
        }

        @include resp-pc(1070px) {
          background-size: 45%;
        }

        @include resp-pc(980px) {
          background-size: 50%;
          background-position-y: 105%;
        }

        @include resp-pc(840px) {
          background-size: 60%;
        }

        @include resp-pc(768px) {
          background-size: 50%;
        }

        @include resp-pc(620px) {
          background-size: 40%;
        }

        @include resp-pc(480px) {
          background: none;
          margin: 20px;
        }

        .ttl {
          margin-bottom: 0.75em;
          font-weight: 800;
          font-size: clamp(1.7rem, 2.5vw, 4rem);
        }

        .year {
          display: block;
          margin-bottom: 0.25em;
          font-weight: 700;
          font-size: clamp(1.5rem, 2vw, 3rem);
          letter-spacing: -0.1em;
          background: linear-gradient(
            to left,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple)
          );
          /* for animating the text color */
          animation: background-pan 3s linear infinite;
          background-size: 200%;
          /* make the text have gradient color */
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          white-space: nowrap;
        }

        .txt {
          margin-bottom: 1.3em;
          font-weight: 700;
          font-size: clamp(1.25rem, 1.5vw, 2.5rem);
    
          @include resp-pc(768px) {
            font-weight: initial;
          }

          span {
            @include resp-pc(1200px) {
              display: block;
            }

            @include resp-pc(480px) {
              letter-spacing: -0.1em;
            }

            b {
              position: relative;
              font-size: 1.2em;
              font-weight: inherit;
              color: #fff;
              text-shadow: 0 0 0.05em #fff, 0 0 0.2em var(--pink), 0 0 0.3em #fe05e1;
            }
          }
        }

        %sub-text {
          @extend %pseudo-parent;
          gap: 5px;

          @include resp-pc(480px) {
            flex-direction: column;
            align-items: flex-start;
          }

          span {
            font-size: 18px;
            letter-spacing: -0.05em;
          }
        }

        .date {
          margin-bottom: 0.7em;

          @extend %sub-text;

          &::before {
            @extend %pseudo-icon;
            background-image: url(../images/calendar_month.png);
          }
        }

        .info {
          margin-bottom: 2em;

          @extend %sub-text;

          &::before {
            @extend %pseudo-icon;
            background-image: url(../images/support_agent.png);
          }
        }

        .home-link {
          all: unset;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 280px;
          height: 50px;
          padding: 10px 20px;
          margin-bottom: 20px;
          border: none;
          position: relative;
          z-index: 1;
          letter-spacing: 0.1em;
          white-space: nowrap;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          cursor: pointer;
          color: #f0f0f0;
          background: transparent;

          span {
            font-size: 17px;

            &.icon {
              @extend %pseudo-icon;
              margin-right: 0.5em;
              background-image: url(../images/location_city.png);
            }
          }

          &::after,
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -99999;
            transition: all 0.4s;
          }

          &::before {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: linear-gradient(90deg, var(--pink), var(--purple));
            transform: translate(0%, 0%);
          }

          &::after {
            width: 35px;
            height: 35px;
            border-radius: 50px;
            background: #ffffff15;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            transform: translate(10px, 10px);
          }

          &:hover::before {
            width: 110%;
            height: 110%;
            transform: translate(5%, 20%);
          }

          &:hover::after {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transform: translate(0, 0);
          }

          &:active::after {
            transition: 0s;
            transform: translate(0, 5%);
          }

          @include resp-mob(481px) {
            &:hover {
              transform: translateX(5%);
            }
          }
        }
      }

      .splide-link {
        padding: 20px 10px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.1);

        @include resp-pc(1200px) {
          padding-left: 60px;
          padding-right: 60px;
        }

        li.splide__slide {
          position: relative;
          text-align: center;

          &::after {
            content: '';
            display: block;
            width: 1px;
            height: 2.5em;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: rgba($color: #000000, $alpha: 0.2);
          }

          &:nth-of-type(13)::after,
          &:nth-of-type(19)::after {
            display: none;
          }

          @include resp-pc(1200px) {
            &::after {
              display: none;
            }
          }

          a {
            display: block;
            padding: 5px 0;
            // font-weight: 700;
            letter-spacing: -0.1em;

            img {
              max-width: 30px;
            }

            &:hover img {
              transform: scale(1.2);
            }

            span {
              display: block;
              margin-top: 1em;
              padding: 0 10px;
            }

            &:hover span {
              color: var(--violet);
            }
          }
        }
      }
    }
  }

  .footer {
    align-self: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: end;

    @include resp-pc(480px) {
      align-self: center;
      text-align: center;
    }

    span {
      font-size: 14px;

      &.copy {
        display: block;
      }

      @include resp-pc(768px) {
        display: block;
      }
    }
  }
}
